<form method="post" action="/books/<%= @book.id %>">
  <br>
  <br>
  <br>
  <label for="title">Title:</label>
  <input
  type="text"
  name="title"
  id="title_field"
  value="<%= @book.title %>"
  />
  <br>
  <br>
  <br>
  <br>
  <label for="buying_price">Buying Price:</label>
  <input
  type="float"
  name="buying_price"
  id="buyingprice_field"
  value="<%= @book.buying_price %>"
  />
  <br>
  <br>
  <br>
  <br>
  <label for="">Selling Price:</label>
  <input
  type="FLOAT"
  name="selling_price"
  id="sellingpricefield"
  value="<%= @book.selling_price %>"
  />
  <br>
  <br>
  <br>
  <br>
  <label for="Description">Description:</label>
  <input
  type="text"
  name="description"
  id="description-field"
  value="<%= @book.description %>"
  />
  <br>
  <br>
  <br>
  <br>
  <label for="stock">Stock_Quantity:</label>
  <input
  type="text"
  name="stock_quantity"
  id="stockQuantity-field"
  value="<%= @book.stock_quantity %>"
  />
  <br>
  <br>
  <br>
  <br>
  <label for="author_select">Select An Author:</label>
  <select name="author_id" id="author_select">
    <% @authors.each do |author| %>
    <option value=<%= author.id %>><%= author.name.capitalize %></option>
    <% end %>
  </select>
  <br>
  <br>
  <br>
  <br>
  <label for="publisher_select">Select A Publisher:</label>
  <select name="publisher_id" id="publisher_select">
    <% @publishers.each do |publisher| %>
    <option value=<%= publisher.id %>><%= publisher.name.capitalize %></option>
    <% end %>
  </select>
  <br>
  <br>
  <br>
  <br>
  <label for="genre_select">Select A Genre:</label>
  <select name="gener_id" id="publisher_select">
    <% @gener.each do |gener| %>
    <option value=<%= gener.id %>><%= gener.gener.capitalize %></option>
    <% end %>
  </select>
  <br>
  <br>
  <br>
  <br>
  <input type='submit' value="Edit This Book">
</form>
