<h1>Books</h1>
<%count = 0 %>
<table id="table_Book">
  <tr>
    <th>Title</th>
    <th>Buying Price</th>
    <th>Selling Price</th>
    <th>Stock Quantity</th>
    <th>Description</th>
    <th>Markup 20%</th>
  </tr>

  <% for book in @books %>
  <%count+=1 %>
  <tr>
    <td><a href="/books/<%= book.id %>">  <%= book.title %> </a></td>
    <td><%= book.buying_price %></td>
    <td><%= book.selling_price %></td>
    <td class=<%=book.get_quantity_class()%>><%= book.stock_quantity %></td>
    <td><%= book.description %></td>
    <td><%= (book.buying_price*0.2) %></td>
  </tr>
  <% end %>

</table>
<br>
<br>
<br>
<p><h2>Total Books in stock are:    <%=count%></h2></p>
